<div class="container main-container">
  <div class="container">
      <h3 class="espaco">Contato</h3>
      <hr class="espaco"/>
    <div class="texto">
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Alyson Tamaio</div>
        <div class="col-lg-8 col-sm-12">RA: 819161008</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Christian Campos</div>
        <div class="col-lg-8 col-sm-12">RA: 821141413</div>
      </div>      
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Giovane Rafael Pereira</div>
        <div class="col-lg-8 col-sm-12">RA: 820250260</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Kelvin Paixao Lima</div>
        <div class="col-lg-8 col-sm-12">RA: 820140925</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Lucas Aranha</div>
        <div class="col-lg-8 col-sm-12">RA: 821141971</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Lucas de Mello Santos</div>
        <div class="col-lg-8 col-sm-12">RA: 820266212</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">Nome: Renan Pires</div>
        <div class="col-lg-8 col-sm-12">RA: 821137415</div>
      </div>
    </div>
  </div>
</div>

