<div class="container main-container">
  <div class="container">
    <h3 class="espaco">Sobre</h3>
    <hr class="espaco"/>
    <div class="texto">
      <h5>Máquina de Doces</h5>
      <p>A máquina de doces da Docelândia veio para tornar mais prática a compra de alimentos.</p>
      <p>Bastanto apenas selecionar as notas para obter o valor igual ou maior ao produto desejado,</p>
      <p>em seguida escolhendo o produto e clicando em comprar, o alimento chega até você de forma simples e rápida</p>
      <p>Podendo ainda consultar o saldo na tela.</p>
    </div>
    <hr class="espaco"/>
    <div class="texto">
      <h5>Elevador</h5>
      <p>O Elevador da Target é rápido e seguro.</p>
      <p>Para sua utilização basta chamá-lo pelo botão de subir ou descer disponíveis em cada andar,</p>
      <p>quando a porta abrir, é necessário selecionar o andar de destino e</p>
      <p>assim que ele chegar, clica-se na pessoa dentro do elevador para ela sair.</p>
    </div>
    <hr class="espaco"/>
    <div class="texto">
      <h5>Analisador Léxico</h5>
      <p>O Analisador Léxico da Next UX é um dos mais rápidos e eficientes do mercado.</p>
      <p>Ele faz a varredura do programa fonte caractere por caractere e, traduz em uma</p>
      <p>sequência de símbolos léxicos ou tokens.</p>
      <p>É nessa fase que são reconhecidas as palavras reservadas, constantes, identificadores</p>
      <p>e outras palavras que pertencem a linguagem de programação.</p>      
    </div>
  </div>
</div>